<!-- SECTION -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">

      <!-- section title -->
      <div class="col-md-12">
        <div class="section-title">
          <h3 class="title">New Products</h3>
          <div class="section-nav">
            <ul class="section-tab-nav tab-nav">
              <li class="active">
                <a data-toggle="tab" href="#tab1">Laptops</a>
              </li>
              <li>
                <a data-toggle="tab" href="#tab1">Smartphones</a>
              </li>
              <li>
                <a data-toggle="tab" href="#tab1">Cameras</a>
              </li>
              <li>
                <a data-toggle="tab" href="#tab1">Accessories</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /section title -->

      <!-- Products tab & slick -->

      <!-- Products tab & slick -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /SECTION -->
